@font-face {
    font-family:'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Light.ttf');
}

/********************colors defining******************/
:root{
    --primary:#1a253f;
    --dark:#151A33;
    --secondary:#2b55cc;
    --info:#4d79f6;
    --ternary:#848db3;
    --pure:#eff2f9;
    --fade:#7881b9;
    --mild:#8997bd;
    --footer:#212A4A;
    --black:#060b1b;
    --twitter:#4ac7ec;
    --dribble:#ff5dab;
    --success:#1ecab8;
    --danger:#f1646c;
    --darkblue:#28365f;
    --darkgrey:#171f33;
    --yellow:#f3c74d;
}

/****************basic setting*****************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    padding-bottom: 4rem;

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}





/**************MAIN CONTAINER*********************/
.container{
    max-width: 1140px;
    margin: 0 1rem;
}

/**************top nav*********************/
nav{
    background: var(--primary);
    padding: 0;
}

nav .inner{
    display: flex;
    color:var(--pure);
    align-items: center;
    height: 5rem;
}
nav .inner .logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--pure);
    letter-spacing:1px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 24rem;
}
nav .inner .logo img{
    margin-right: 0.2rem;
    height:10rem;
}



/* skills */
.skills .skillwrapper{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.skills .skillwrapper .items{
    width: 100%;
    border-radius: 5px;
}
.skills .items .item .skillcontain{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
}

.skill{
    height: 1.2rem;
    text-align: right;
    font-size: 1rem;
    color: var(--pure);
    border-radius: 5px;

}
.htmls{
    margin-bottom: 0.5rem;
    width: 90%;
    background-color: #04AA6D;
}
.mobiles{
    margin-bottom: 0.5rem;
    width: 70%;
    background-color: #676e03d2;
}
.dbs{
    margin-bottom: 0.5rem;
    width: 95%;
    background-color: #0a20e0d3;
}
.hostings{
    margin-bottom: 0.5rem;
    width:70%;
    background-color: #ee08a996;
}

.bootstraps{
    margin-bottom: 0.5rem;
    width: 80%;
    background-color: #04AA6D;
}
.opencvs{
    margin-bottom: 0.5rem;
    width: 85%;
    background-color: #676e03d2;
}
.tensors{
    margin-bottom: 0.5rem;
    width: 60%;
    background-color: #0a20e0d3;
}
.adobes{
    margin-bottom: 0.5rem;
    width:75%;
    background-color: #ee08a996;
}

.cs{
    margin-bottom: 0.5rem;
    width: 85%;
    background-color: #04AA6D;
}
.videos{
    margin-bottom: 0.5rem;
    width: 85%;
    background-color: #676e03d2;
}
.dsas{
    margin-bottom: 0.5rem;
    width: 75%;
    background-color: #0a20e0d3;
}
.hobbys{
    margin-bottom: 0.5rem;
    width:70%;
    background-color: #ee08a996;
}



/* utility class */

.sectionheading{
    font-size: 2rem;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
    position: relative;
}
.sectionheading::after{
    content: '';
    height: 3px;
    width: 80px;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px dotted var(--danger);
}

.container .skills{
    margin-top: 2rem;
   color: var(--pure);
}


/* projects */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 250px;
    height: auto;
    color: var(--pure);
  }
.gallerywarpper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    display: none;
    text-align: center;
  }

  .container1 {
    position: relative;
    height: auto;
    width: 250px;
  }

  .image {
    opacity: 1;
    display: block;
    width: 250px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    /* background-color: #04AA6D; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .langu{
    background-color: #dab307c0;
    color: white;
    font-size: 16px;
    border-radius:2px;
  }

  /* footer */

.footers{
    margin-top: 2rem;
    background: var(--footer);
    text-align: center;
    padding: 2rem 0;
    font-size: 14px;
    color: var(--ternary);
}

@media only screen and (max-width:900px){
    nav .inner .logo{
        margin-right: 8rem;
    }
    .skills .skillwrapper{
        flex-direction: column;
     }
}
@media only screen and (max-width:470px){
    nav .inner .logo{
        margin-right: 0rem;
    }


}
